node_modules/
artifacts/
cache/
coverage/
.env
.next/
*.log
*.tmp
.vscode/
*.pem
*.key
*.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Next.js
.next/

# Hardhat
typechain-types/

# IDEs y OS
.DS_Store
Thumbs.db
.idea/

# Build
out/
dist/

# Backups y archivos grandes
*.bak
*.zip
*.tar.gz
*.tgz
.git-root-backup-*/

# Carpeta de diseño y experimentos
Figma/
presentation_example/
screenshots_test/
au-hardhat-practice/
onlyhumans/

# Imágenes y archivos de diseño no esenciales
*.tif
*.psd
*.ai
*.xcf